*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "標楷體";
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #222;
}

a{
    line-height:140px;
    text-decoration: none;
}

/*導覽列*/
.logo{
    position: relative;
    text-align: center;
}
.header{
    position: relative;
    width: 100%;
    height: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    align-items: center;
}

p{
    color: #fff;
    font-size: 16px;
}

/*卡片翻轉*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}
.flip-container, .front, .back {
	width: 100px;
}
/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: -70px;
	left: -10px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
    text-align: center;
}

/*炎E02A2A水2D99F0風95CB8B地464B47光F0E684闇6E3C87魔48979B陷C6479D*/
/*卡圖設定1*/
.box{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box:hover{
    height: 680px;
}
.imgbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.imgbox img{
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}
.box:hover .imgbox img{
    opacity: 1;
}
.box:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box:before, .box:after{
    background: linear-gradient(235deg, #6E3C87, #010615, #9CD9E6);
}

/*卡圖設定2*/
.box2{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box2:hover{
    height: 720px;
}
.box2:hover .imgbox img{
    opacity: 1;
}
.box2:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box2:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box2:before, .box2:after{
    background: linear-gradient(235deg, #6E3C87, #010615, #F29E47);
}
.box2:hover .content2{
    opacity: 1;
}
.content2{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 140px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.content2 h2{
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.content2 p{
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}
.content2 span{
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}
/*卡圖設定3*/
.box3{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box3:hover{
    height: 680px;
}
.box3:hover .imgbox img{
    opacity: 1;
}
.box3:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box3:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box3:before, .box3:after{
    background: linear-gradient(235deg, #6E3C87, #010615, #043F89);
}
.box3:hover .content{
    opacity: 1;
}
/*卡圖設定4*/
.box4{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box4:hover{
    height: 680px;
}
.box4:hover .imgbox img{
    opacity: 1;
}
.box4:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box4:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box4:before, .box4:after{
    background: linear-gradient(235deg, #6E3C87, #010615, #F64260);
}
.box4:hover .content{
    opacity: 1;
}
/*卡圖設定5*/
.box5{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box5:hover{
    height: 680px;
}
.box5:hover .imgbox img{
    opacity: 1;
}
.box5:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box5:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box5:before, .box5:after{
    background: linear-gradient(235deg, #6E3C87, #010615, #50C451);
}
.box5:hover .content{
    opacity: 1;
}
/*卡圖設定2*/
.box6{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box6:hover{
    height: 680px;
}
.box6:hover .imgbox img{
    opacity: 1;
}
.box6:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box6:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box6:before, .box6:after{
    background: linear-gradient(235deg, #6E3C87, #010615, #8677BD);
}
.box6:hover .content{
    opacity: 1;
}
/*卡圖設定7*/
.box7{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box7:hover{
    height: 760px;
}
.box7:hover .imgbox img{
    opacity: 1;
}
.box7:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box7:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box7:before, .box7:after{
    background: linear-gradient(235deg, #F0E684, #010615, #FDECCB);
}
.box7:hover .content7{
    opacity: 1;
}
.content7{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 160px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.content7 h2{
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.content7 p{
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}
.content7 span{
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}
/*卡圖設定8*/
.box8{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box8:hover{
    height: 720px;
}
.box8:hover .imgbox img{
    opacity: 1;
}
.box8:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box8:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box8:before, .box8:after{
    background: linear-gradient(235deg, #6E3C87, #010615, #4D2247);
}
.box8:hover .content8{
    opacity: 1;
}
.content8{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 140px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.content8 h2{
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.content8 p{
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}
.content8 span{
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}
/*卡圖設定9*/
.box9{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box9:hover{
    height: 680px;
}
.box9:hover .imgbox img{
    opacity: 1;
}
.box9:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box9:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box9:before, .box9:after{
    background: linear-gradient(235deg, #48979B, #010615, #48979B);
}
.box9:hover .content{
    opacity: 1;
}
/*卡圖設定10*/
.box10{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box10:hover{
    height: 680px;
}
.box10:hover .imgbox img{
    opacity: 1;
}
.box10:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box10:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box10:before, .box10:after{
    background: linear-gradient(235deg, #48979B, #010615, #48979B);
}
.box10:hover .content{
    opacity: 1;
}
/*卡圖設定11*/
.box11{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box11:hover{
    height: 680px;
}
.box11:hover .imgbox img{
    opacity: 1;
}
.box11:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box11:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box11:before, .box11:after{
    background: linear-gradient(235deg, #48979B, #010615, #48979B);
}
.box11:hover .content{
    opacity: 1;
}
/*卡圖設定12*/
.box12{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box12:hover{
    height: 680px;
}
.box12:hover .imgbox img{
    opacity: 1;
}
.box12:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box12:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box12:before, .box12:after{
    background: linear-gradient(235deg, #48979B, #010615, #48979B);
}
.box12:hover .content{
    opacity: 1;
}
/*卡圖設定13*/
.box13{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box13:hover{
    height: 680px;
}
.box13:hover .imgbox img{
    opacity: 1;
}
.box13:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box13:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box13:before, .box13:after{
    background: linear-gradient(235deg, #48979B, #010615, #48979B);
}
.box13:hover .content{
    opacity: 1;
}
/*卡圖設定14*/
.box14{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box14:hover{
    height: 680px;
}
.box14:hover .imgbox img{
    opacity: 1;
}
.box14:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box14:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box14:before, .box14:after{
    background: linear-gradient(235deg, #C6479D, #010615, #C6479D);
}
.box14:hover .content{
    opacity: 1;
}
/*卡圖設定15*/
.box15{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box15:hover{
    height: 680px;
}
.box15:hover .imgbox img{
    opacity: 1;
}
.box15:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box15:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box15:before, .box15:after{
    background: linear-gradient(235deg, #C6479D, #010615, #C6479D);
}
.box15:hover .content{
    opacity: 1;
}
/*卡圖設定16*/
.box16{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box16:hover{
    height: 680px;
}
.box16:hover .imgbox img{
    opacity: 1;
}
.box16:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box16:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box16:before, .box16:after{
    background: linear-gradient(235deg, #C6479D, #010615, #C6479D);
}
.box16:hover .content{
    opacity: 1;
}
/*卡圖設定17*/
.box17{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box17:hover{
    height: 680px;
}
.box17:hover .imgbox img{
    opacity: 1;
}
.box17:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box17:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box17:before, .box17:after{
    background: linear-gradient(235deg, #C6479D, #010615, #C6479D);
}
.box17:hover .content{
    opacity: 1;
}
/*卡圖設定18*/
.box18{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box18:hover{
    height: 680px;
}
.box18:hover .imgbox img{
    opacity: 1;
}
.box18:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box18:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box18:before, .box18:after{
    background: linear-gradient(235deg, #C6479D, #010615, #C6479D);
}
.box18:hover .content{
    opacity: 1;
}
/*卡圖設定19*/
.box19{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box19:hover{
    height: 680px;
}
.box19:hover .imgbox img{
    opacity: 1;
}
.box19:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box19:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box19:before, .box19:after{
    background: linear-gradient(235deg, #C6479D, #010615, #C6479D);
}
.box19:hover .content{
    opacity: 1;
}
/*卡圖設定20*/
.box20{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box20:hover{
    height: 680px;
}
.box20:hover .imgbox img{
    opacity: 1;
}
.box20:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box20:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box20:before, .box20:after{
    background: linear-gradient(235deg, #C6479D, #010615, #C6479D);
}
.box20:hover .content{
    opacity: 1;
}
/*卡圖設定21*/
.box21{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box21:hover{
    height: 680px;
}
.box21:hover .imgbox img{
    opacity: 1;
}
.box21:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box21:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box21:before, .box21:after{
    background: linear-gradient(235deg, #C6479D, #010615, #C6479D);
}
.box21:hover .content{
    opacity: 1;
}
/*卡圖設定22*/
.box22{
    position: relative;
    width: 250px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
}
.box22:hover{
    height: 680px;
}
.box22:hover .imgbox img{
    opacity: 1;
}
.box22:before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box22:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
.box22:before, .box22:after{
    background: linear-gradient(235deg, #C6479D, #010615, #C6479D);
}
.box22:hover .content{
    opacity: 1;
}

.content{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 120px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.box:hover .content{
    opacity: 1;
}
.content h2{
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.content p{
    text-align: left;
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}
.content span{
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;
}